.icon:hover {
  color: rgb(232, 75, 158);
}

a:visited {
  color: rgb(179, 104, 119);
}

.icon {
  color: rgb(179, 104, 119);
  padding: 10px;
}

.me-acompanhe {
  color: white;
  font-family: 'Better Together';
  font-size: 60px;
  margin-top: 25px;
  src: url('../Better\ Together\ Script.ttf') format('truetype');
  text-shadow: 0.1em 0.1em 0.2em black;
}

@font-face {
  font-family: 'Better Together';
  src: url('../Better\ Together\ Script.ttf') format('truetype');
}

@media (max-width:600px) {
  .all-links {
    display: inline-block;
    justify-content: center;
    width: 300px;
  }
}
