.App {
  text-align: center;
}

.App-page {
  background-image: url('./imgs/pinkcotton.jpeg');
  background-size: cover;
  margin: auto;
  height: 830px; 
  width: 100%;
}

@media (max-width:600px) {
  .App-page {
    height: 930px; 
  }
}
